* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

#workspaces {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 10px;
}

#workspaces button {
	box-shadow: none;
	text-shadow: none;
  padding: 0px;
  border-radius: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 0px;
  color: #81a1c1 
}

#workspaces button.active {
  background-color: #4c566a;
}

#workspaces button:hover {
  background: #4c566a;
}
#workspaces button.urgent {
  background-color: #b53737;
}

#backlight {
  color: #d08770;
  margin: 1px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
#battery {
  color: #8aadf4;
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

#clock {
  color: #81a1c1;
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
}
#pulseaudio {
  color: #ea999c;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
#cpu {
  color: #ea76cb;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
#network {
  color: #88c0d0;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
}

#window {
  color: #81a1c1;
  padding: 0px 10px;
}
#tray {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
#clock,
#cpu,
#network,
#pulseaudio,
#backlight,
#battery,
#window,
#tray,
#workspaces {
  background-color: #2e3440;
  border-radius: 10px;
  border-width: 2px;
  border-color: #3b4252;
  border-style: solid;
}
#workspaces {
  margin-right: 10px;
}
