
@theme "/usr/share/rofi/themes/solarized.rasi"

configuration {
    font:"JetBrainsMono Nerd Font 16";
    modi:"drun";
    show-icons:true;
    display-drun:" ";
    drun-display-format:"{name}";
}

/*element-icon {
    size: 2ch ; 
} */
